<section class="py-10 px-12 pt-40 full-height mx-auto">
  <app-search-input
    (searchSubmitted)="onSearchSubmitted($event)"
  ></app-search-input>

  <ng-container *ngIf="vm$ | async as vm">
    <ng-container *ngIf="vm.posts.length > 0; else skeletonTemplate">
      <app-post-list
        [posts]="vm.posts"
        (removePost)="onRemovePost($event)"
        (updatePost)="onUpdatePost($event)"
      ></app-post-list>

      <ng-container *ngIf="vm.meta.lastPage">
        <app-pagination
          [actualPage]="vm.meta.page"
          [lastPage]="vm.meta.lastPage"
          (onGoToPageClick)="goToPage($event)"
        ></app-pagination>
      </ng-container>
    </ng-container>

    <ng-template #skeletonTemplate>
      <article
        class="grid grid-flow-row gap-8 justify-items-center text-neutral-600 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 h-full"
      >
        <app-post-skeleton></app-post-skeleton>
      </article>
    </ng-template>
  </ng-container>
</section>
